@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


@import "tailwindcss";

body { font-family: 'Inter', sans-serif; }

@utility animate-in {
    animation-fill-mode: both;
    animation-duration: 300ms;
}

@utility slide-in-from-top {
    animation-name: slideInFromTop;
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


